<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.patel.pritesh.smstimer">

    <uses-permission android:name=".android.permission.SEND_SMS" />
    <uses-permission android:name=".android.permission.INTERNET" />
    <uses-permission android:name=".android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name=".android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sms_timer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="my.patel.pritesh.smstimer.Time_Picker"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="my.patel.pritesh.smstimer.MyReceiver"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process="remote"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="SEND" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="my.patel.pritesh.smstimer.NotificationReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="notification" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="my.patel.pritesh.smstimer.deliveryReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="notification_delivered" />
            </intent-filter>
        </receiver>

        <activity android:name=".sms_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sms_review" />

        <service
            android:name=".alarmService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>